@color:#33cc22;
@width:1.0;
body{
	background:@color;
	color:#ffc;
	font-size:12px;
	color:~"blue";
	width:percentage(@width);
}

//名称空间
.class1{
  .class2{
    .val(@param){
	  font-size:@param;
	  color:green;
	}
  }
}

.myclass{
  .class1 > .class2 > .val(20px);
}

//变量范围
@var:@a;
@a:15px;

.myclass {
	font-size:@var;
	//@a:20px;
	color:green;
}

@import "myfile.less";
.myclass2{
	color:#FF0000;
}

//混合
.p3{
	background: #DAA520;
	.p1;
}
.p1{
	color:red;
}
.p2{
	background:#334455;
	.p1;
}

//参数混合
.border(@width;@style;@color){
	border:@width @style @color;
}

.myheader{
	.border(2px;dashed;green);
}

//Minxin范围
.Minxin(){
	@bgcolor:#c0c0c0;
}
.myclass{
	.Minxin();
	background-color:@bgcolor;
}

//匹配模式
.pos(r){
	position:relative;
}
.pos(a){
	position:absolute;
}
.pos(f){
	position:fixed;
}

.pipei{
	width:200px;
	height:200px;
	background-color:green;
	.pos(f);
}


//匹配模式里的运算
@test_01:300px;
.box_02{
	width:(@test_01 - 1)*5;
}

//嵌套
.list{
	width:600px;
	list-style:none;
	
	li{
		height:20px;
		line-height:20px;
		
		a{}
	}
}